.first-switch {
  .fa {
    display: inline-block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .main-nav {
    .logo {
      display: inline-block;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);

      @media screen and (max-width: 800px) {
        display: block;
        margin: 10px auto;
      }
    }
  }

  .standard-section {
    article {
      .logo-container {
        display: block;

        img {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
        @media screen and (max-width: 800px) {
          float: none;
          display: block;
          margin: 10px auto;
          width: auto;
        }
      }
    }
  }
}
