footer {
  width: 100%;
  padding: 50px;
  font-weight: 100;
  font-size: 12px;
  color: $gray;
  text-align: center;

  p {
    margin-bottom: 5px;
  }

  .social-links {
    li {
      display: inline-block;
      margin: 10px;
      transition: all 0.4s ease-in-out 0s;

      &:hover {
        cursor: default;
        transform: rotateY(360deg);
        transition: all 0.4s ease-in-out 0s;
      }
    }

    a {
      font-size: 34px;
    }
  }
}
