.switch,
.switch2,
.switch3 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;

  @media screen and (max-width: 800px) {
    margin: 0;
  }

  .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

  input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 60px;
    transition: background 0.4s;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: "";
    }

    &:before {
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      background-color: #fff;
      border-radius: 60px;
      transition: background 0.4s;
    }

    &:after {
      top: 4px;
      left: 4px;
      bottom: 4px;
      width: 23px;
      background-color: #ddd;
      border-radius: 50%;
      transition: margin .4s,background .4s;
    }
  }
}

.switch {
  input.cmn-toggle-round-flat:checked + label {
    background-color: #8ce196;

    &:after {
      margin-left: 28px;
      background-color: #8ce196;
    }
  }
}

.switch2 {
  input.cmn-toggle-round-flat:checked + label {
    background-color: $link-blue;

    &:after {
      margin-left: 28px;
      background-color: $link-blue;
    }
  }
}

.switch3 {
  input.cmn-toggle-round-flat:checked + label {
    background-color: #E76FB8;

    &:after {
      margin-left: 28px;
      background-color: #E76FB8;
    }
  }
}

.sticky-switch {
  position: fixed;
  z-index: 999;
  right: 15px;
  top: 10px;

  @media screen and (max-width: 800px) {
    bottom: 15px;
    left: 43%;
    top: auto;
    right: auto;
  }
}

.sticky-switch2 {
  position: fixed;
  z-index: 999;
  right: 15px;
  bottom: 15px;
}

.sticky-switch3 {
  position: fixed;
  z-index: 999;
  left: 15px;
  bottom: 15px;
}
