<!-- FOOTER -->
  <footer>
    <ul class="social-links">
      <li><a href="https://github.com/theWickedWebDev" target="_new"><i class="fa fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/thewickedwebdev" target="_new"><i class="fa fa-linkedin-square"></i></a></li>
      <li><a href="https://twitter.com/TheWickedWebDev" target="_new"><i class="fa fa-twitter"></i></a></li>
      <li><a href="mailto:stephen@offTheGridCoders.com" target="_new"><i class="fa fa-envelope"></i></a></li>
    </ul>
    <p>Stephen Young<p>
    <p>@theWickedWebDev</p>
    <p>stephen@offTheGridCoders.com</p>
    <p>Austin, TX</p>
  </footer>
