<div class="switch-container sticky-switch animated slideInUp">
  <div class="switch">
    <input id="fancySwitch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
    <label for="fancySwitch"></label>
  </div>
</div>
<div class="switch-container2 sticky-switch2 animated slideInRight">
  <div class="switch2">
    <input id="fancySwitch2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
    <label for="fancySwitch2"></label>
  </div>
</div>
<div class="switch-container3 sticky-switch3 animated slideInLeft">
  <div class="switch3">
    <input id="fancySwitch3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
    <label for="fancySwitch3"></label>
  </div>
</div>
