* {
  box-sizing: border-box;
  font-family: $primary-font;
}

.clearfix {
  overflow: auto;
}

a {
  color: #000;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.hide {
  display: none;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.fa {
  display: none;
}
